<div class="row">
    <div class="col-xs-12" id="wine-sort">
        <button type="button" class="sort-button" ng-click="listCtrl.sortBy('name')" ng-class="{active: listCtrl.isSorting('name')}">Name</button>
        <button type="button" class="sort-button" ng-click="listCtrl.sortBy('rating')" ng-class="{active: listCtrl.isSorting('rating')}"><i class="fa fa-star"></i></button>
        <button type="button" class="sort-button" ng-click="listCtrl.sortBy('year')" ng-class="{active: listCtrl.isSorting('year')}">Year</button>
    </div>
</div>
<div class="row" id="wine-list" class="clearfix">
    <div list-item ng-show="listCtrl.showNewWine" class="col-xs-12 wine-item"></div>
    <a list-item ui-sref="wine({id: wine.id})" class="col-xs-12 wine-item" ng-repeat="wine in listCtrl.wines | orderBy: listCtrl.sortPredicate" title="{{wine.name}}"></a>
</div>
<div id="new-wine-container" class="row" ng-class="{active: listCtrl.showNewWine}">
    <button type="button" name="+" class="btn btn-default" ng-click="listCtrl.toggleNewWine()" id="toggle-new-wine-btn">{{listCtrl.newWineButtonText}}</button>
    <div class="col-xs-12">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="wineName" value="" placeholder="Name, e.g. Masi Costasera" ng-model="listCtrl.newWine.name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="wineVarietal" value="" placeholder="Varietal of wine, e.g. Amarone" ng-model="listCtrl.newWine.varietal">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="wineYear" value="" placeholder="Year of production, e.g 2010" ng-model="listCtrl.newWine.year">
            </div>
            <wine-rating interactive></wine-rating>
            <button type="submit" class="btn btn-default" id="submit-wine-btn" ng-click="listCtrl.addWine()">Add wine</button>
        </form>
    </div>
</div>
