@import "../app.less";

#wine-list {
    .wine-item {
        border-bottom: 1px solid @silver;

        .wine-rating-wrapper {
            position: relative; top: 25px;
            .wine-rating {
                font-size: 2em;
                .fa-star {
                    color: @yellow;
                }
            }
        }
    }
}
