html,
body {
  height: 100%;
}
body {
  font-family: 'Trebuchet MS', 'Sans serif';
  background: #ffffff;
}
body a,
body a:hover,
body a:visited {
  color: #4c4c4c;
  text-decoration: none;
}
body h1 {
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 20px 0;
  background: #c0392b;
}
body h2,
body h3,
body h4 {
  color: #c0392b;
}
#wine-list .wine-item {
  border-bottom: 1px solid #bdc3c7;
}
#wine-list .wine-item .wine-rating-wrapper {
  position: relative;
  top: 25px;
}
#wine-list .wine-item .wine-rating-wrapper .wine-rating {
  font-size: 2em;
}
#wine-list .wine-item .wine-rating-wrapper .wine-rating .fa-star {
  color: #f1c40f;
}
#new-wine-container {
  border-top: 2px solid #c0392b;
  position: fixed;
  bottom: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
}
#new-wine-container button {
  color: #ffffff;
  background: #c0392b;
  border-radius: 0;
  border: 0;
  width: 70px;
  height: 70px;
  font-size: 2em;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}
@media (min-width: 768px) {
  #new-wine-container {
    width: inherit;
  }
}
